@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --principal: #F1EAE2;
    --azul: #6CACE4;
    --verde: #A4D65E;
    --vermelho: #E4002B;
    --amarelo: #FAE053;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    background-color: var(--principal)
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.logo {
    width: 50%;
}
.cabecalho {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Home h3{
    background-color: var(--azul);
    padding: 20px;
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; 
}

.carousel-control-prev-icon::before {
  content: '\276E'; 
  font-size: 2rem;
  color: black; 
}

.carousel-control-next-icon::before {
  content: '\276F'; 
  font-size: 2rem;
  color: black;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    border: none;
    background-color: var(--principal);
}
.card-img-top {
    border: 4px solid var(--vermelho);
    border-radius: 8px;
}
.botaoFilme {
    background-color: var(--azul);
    border: var(--azul);
}
.login { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--azul);
    border-radius: 10px;
    width: 30%;
    height: 50%;
    margin: 50px auto;
    margin-top: 70px;
    padding: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    border: none;
    border-radius: 10px;
    padding: 3px 0px;
}
.campo {
    display: flex;
    flex-direction: column;
}
.botao {
    background-color: var(--azul);
    padding: 2px 15px;
    border: none;
    border-radius: 10px;
    margin: 25px 0px;
}
.imagemCartola {
    max-width: 350px;
    border: 7px solid var(--verde);
    border-radius: 8px;
    margin: 10px;
}
.infoFilme {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
    margin: 10px;
}
.containerFilme {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.botaoComprar {
    background-color: var(--azul);
    border: none;
    width: 200px;
    border-radius: 8px;
    padding: 6px 10px;
}
.botaoPesquisar{
    border: none;
    background-color: var(--azul);
    padding: 3px 10px;
    border-radius: 10px;
}
.pesquisa {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 35px 35px 35px;
}
.cointainerInfo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30PX;
}
.filmes {
    display: flex;
    flex-direction: column;
}
.botaoSabermais {
    background-color: var(--azul);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    max-width: 150px;
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.227);
}

.rodape img {
    padding: 5px;
}

@media screen and (max-width: 980px) {
    .login {
        width: 50%;
    }
    .infoFilme {
        width: 40%;
    }
}
@media screen and (max-width: 780px) {
    .infoFilme {
        width: 70%;
    }
}
@media screen and (max-width: 500px) {
    .login {
        width: 70%;
    }
}
@media screen and (max-width: 320px) {
    .login {
        width: 90%;
    }
}