@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --principal: #F1EAE2;
    --azul: #6CACE4;
    --verde: #A4D65E;
    --vermelho: #E4002B;
    --amarelo: #FAE053;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    background-color: var(--principal)
}

.logo {
    width: 50%;
}

.Home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Home h3{
    background-color: var(--azul);
    padding: 20px;
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; 
}

.carousel-control-prev-icon::before {
  content: '\276E'; 
  font-size: 2rem;
  color: black; 
}

.carousel-control-next-icon::before {
  content: '\276F'; 
  font-size: 2rem;
  color: black;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    border: none;
    background-color: var(--principal);
}
.card-img-top {
    border: 4px solid var(--vermelho);
    border-radius: 8px;
}
.botaoFilme {
    background-color: var(--azul);
    border: var(--azul);
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.227);
}

.rodape img {
    padding: 5px;
}